

@media (max-width: 1240px)   

    .reasons-block    
        &__shadowTitle
            left: 469px //МЕНЯЛ
        &__shadowSubTitle
            top: 277px //МЕНЯЛ
            left: 180px   //МЕНЯЛ
            font-size: 180px //МЕНЯЛ С 253
        
//1240 ГОТОВО

@media (max-width: 1024px)     

    .first-descr
        .small-descr
            grid-template-columns: repeat(3, 250px)
            grid-template-rows: 1fr
            gap: 10px //МЕНЯЛ C 56PX на 10px
            img
                max-width: 250px
        .icons-text
            margin: 64px auto 0px auto
            justify-content: center 

    .get-started
        display: flex
        margin-top: 64px
        padding: 45px 20px 0px 20px   //МЕНЯЛ c 45px 105px 0px 130px на 45px 20px 0px 20px
        background: rgba(255, 255, 255, 0.01)
        &__title
            font-size: 16px
        &__rocket
            display: inline
        .start-info  
            margin-top: 0px
            margin-left: 130px   
            padding-top: 0px
            padding-bottom: 0px
            min-height: auto
            flex-direction: column
            display: flex
            align-items: flex-end
            text-align: right
            &__txt
                margin-top: 54px
                max-height: 40px
                max-width: 770px
                font-size: 16px
                span   
                    color: #44DFAB
            h1
                margin-top: 20px;
                font-size: 24px
                color: white
            &__btn
                background: linear-gradient(180deg, #0DF592 0%, #44DFAB 100%);
                mix-blend-mode: normal;
                opacity: 0.9;
                border-radius: 24px;
                border-radius: 24px
                margin-top: 45px 
                height: 46px
                text-align: center
                align-items: center 
                display: block
                width: 170px
                color: black
                font-size: 20px
                font-weight: 700  


    .reasons-block    
        &__shadowTitle
            top: -43px   //МЕНЯЛ
            left: 384px //МЕНЯЛ
            font-size: 50px //МЕНЯЛ С 72px на 50px
        &__shadowSubTitle
            top: 297px //МЕНЯЛ
            left: 270px   //МЕНЯЛ
            font-size: 100px //МЕНЯЛ 
        .icons-text
            margin: 64px auto 0px auto
            display: grid
            grid-template-columns: 196px 196px 196px
            grid-template-rows: 343px
            gap: 60px

        .small-descr
            margin: 84px auto 0px auto
            //padding-left: 139px
            //padding-right: 139px
            //padding-top: 0px
            //padding-bottom: 0px
            min-height: auto
            display: grid
            grid-template-columns: repeat( auto-fill, 250px) //МЕНЯЛ КОЛОНКИ c 328px 328px 328px на 
            gap: 56px
            justify-content: center
            text-align: left
            &__item
                max-width: 328px
                .text_fz14
                    text-align: left
                    margin-top: 25px
                    font-size: 14px
                    &_1
                        font-size: 14px 
                        margin-top: 5px
                span   
                    color: #44DFAB
            h3
                font-size: 24px
                color: white

    .stay-current
        &__text
            min-height: 50px
            margin-top: 30px
        .icons-text
            gap: 60px            


    .stay-up-to-date
        .forms
            gap: 30px //МЕНЯЛ с 100px на 30px
            margin: 32px auto 0px auto //Менял с 32px 137px 0px 140px на 
            .title-form1
                &__form 
                    width: auto

//1024 ГОТОВО

@media (max-width: 968px)

    .promo
        grid-template-columns: 25% 1fr 
        .menu

            &__link
                font-size: 20px
                margin-left: 0px

    .stay-up-to-date
        &__text
            font-size: 21px
            margin-left: 150px
            margin-right: 150px
        .forms
            width: 70%
            gap: 0px
            grid-template-rows: auto-fit
            grid-template-columns: 1fr 1fr 1fr 
            .title-form
                display: flex
                flex-direction: column
                position: relative
                &__form
                    display: block
                    font-size: 30px
                    margin-top: 24px
                &__form1
                    display: block
                    font-size: 20px
                    &::placeholder
                        font-size: 20px
                    justify-self: end
                &__title
                    margin-bottom: 0px
                    display: block
                    font-size: 24px
                    min-height: 56px
                &__divider
                    display:
                &__btn
                    position: absolute
                    height: 20%
                    width: 50%
                    top: 64%
                    left: 16%
                    margin: 30px 0px 20px 0px
                    display: block


            .title-form1
                display: flex
                flex-direction: column
                height: 100%
                &__img
                    margin: 15px 0px 0px 15px
                    height: 30%
                    width: 62%
                &__divider
                    display: block
                    margin: 0px 0px 0px 20px 
                &__form
                    display: block
                    margin: 20px 0px 0px 20px
                    display: block
                &__form1
                    display: block
                    font-size: 20px 
                &__text-count
                    display: block
                    font-size: 19px
                    top: 67%
                    left: 7%        
                &__btn
                    height: 20%
                    width: 50%
                    top: 56%
                    right: 4%
                    margin: 30px 0px 20px 0px
                    display: block
                    align-self: end
                    justify-self: end
                    

    .first-descr
        .small-descr
            h3
                text-align: center
            .text_fz14_1
                font-size: 20px
            .text_fz14
                font-size: 20px
        .icons-text
            align-items: flex-start
            .items
                width: 200px
                &__text
                    font-size: 21px
                    margin: 0px auto 0px auto


    .get-started
        .start-info
            &__txt
                font-size: 20px
                max-height: 100px


    .reasons-block
        &__shadowTitle
            top: -40px
            left: 349px
        &__txt
            font-size: 21px
            margin-left: 10%
            margin-right: 10%
        .icons-text
            grid-template-rows: auto 
            .items
                &__text
                    font-size: 21px    
        .small-descr
            
            &__item
                .text_fz14_1
                    font-size: 21px
                .text_fz14
                    font-size: 21px
            img
                width: 80%

    .stay-current
        &__text
            font-size: 21px
            height: auto
            margin-left: 20%
            margin-right: 20%
        .icons-text
            margin-left: 10%
            margin-right: 10%
            grid-template-columns: 1fr
            grid-template-rows: auto-fit auto-fit auto-fit
            .items
                display: flex
                flex-direction: column
                height: auto
                &__text
                    width: 100%
                    display: block
                    font-size: 24px
                    margin: 24px 0px 0px 0px
                    text-align: center
                &__subtext
                    font-size: 24px
                    margin: 24px 0px 0px 0px
                    text-align: center
                img
                    height: 60%
                    width: 100%
                &__btn
                    display: block
                    margin-top: 24px
                    width: 50%
                    font-size: 20px
                    height: 9%
                    align-self: center
                    justify-self: end
        &__scroll
            display: none                


    .footer
        gap: 20px
        grid-template-rows: auto
        .link-list1, .link-list2
            text-align: left
            margin-top: 41px
            &__link1
                color: #19DE8C
                text-decoration: none
            &__link
                margin-bottom: 20px
                display: flex
                text-decoration: none 
                color: #9092A7 

//968 ГОТОВО

@media (max-width: 769px)
    
    .promo 
        gap: 20px
        grid-template-columns: 1fr
        grid-template-rows: auto-fill 

    .get-started
        padding: 45px 4% 4% 4%
        &__rocket
            margin-top: 4%
            display: block
            width: 34%
            height: 80%
        .start-info
            margin-left: 10%
            &__txt
                display: inline-block
                max-height: 60%

    .reasons-block
        &__shadowTitle
            top: -2%
            left: 35%
        &__shadowSubTitle
            top: 17%
            left: 19%
        .small-descr
            justify-self: center
            gap: 20px
            grid-template-columns: 75%
            grid-template-rows: auto-fill
            justify-content: center
            align-items: center
            &__item
                img
                    display: block
                    margin: 8% auto 0px auto
                    max-width: 100%
                    width: 80%
                    height: 10%
                    text-align: center
                h3
                    font-size: 30px
                    text-align: center
                max-width: 100%
                .text_fz14_1 , .text_fz14
                    display: inline-block
                    text-align: center
        .icons-text
            justify-self: center
            gap: 20px
            grid-template-columns: 75%
            grid-template-rows: 1fr 1fr 1fr
            justify-content: center
            align-items: center 
            .items
                &__title
                    font-size: 30px
                &__text
                    width: 100%


    .first-descr
        .small-descr
            justify-self: center
            gap: 20px
            grid-template-columns: 75%
            grid-template-rows: auto-fill
            justify-content: center
            align-items: center
            &__item
                img
                    display: block
                    margin: 8% auto 0px auto
                    max-width: 100%
                    width: 80%
                    height: 10%
                    text-align: center
                h3
                    font-size: 30px
                    text-align: center
                max-width: 100%
                .text_fz14_1 , .text_fz14
                    display: inline-block
                    text-align: center

    .stay-up-to-date
        .forms
            gap: 20px
            grid-template-columns: 1fr 1fr
            grid-template-rows: auto-fill
            margin-bottom: 20px    
            .title-form1
                margin: 0px 25% 0px 25%
                grid-column: 1/3
                display: flex
                &__img
                    display: block
                &__title
                    display: block
                &__form
                    display: block
                &__form1
                    display: block
                &__text
                    display: block
                &__divider
                    display: block
                &__btn
                    align-self: flex-end
                    position: static
                    display: block
                    margin: 10px 8% 10px 0px
                    width: 40%
                    height: 40px
                &__text-count
                    margin-top: 4%
                    width: 40%
                    height: 30%
                    display: inline-block

    .footer
        .link-list1, .link-list2
            &__title
                margin-bottom: 20%
            &__link , &__link1
                font-size: 20px
                margin-bottom: 30%

//767 ГОТОВО

@media (max-width: 480px)
    color: white

@media (max-width: 320px)
    color: white

//Я ГЕНИЙ ФРОНТ-ЭНДА